/* # _________GENERALS__________ */

/* GENERALS */

body {
    height: 100vh;
    background-image: linear-gradient( to bottom, #00bfa5 15%, #f0f0f0 15%, #f0f0f0 15%);
    overflow-y: hidden;
}

#app>.container {
    height: 900px;
}

.overflow-y-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* COLORS */

.c-grey {
    color: lightgrey;
}

/* FONTS */

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-20 {
    font-size: 20px;
}

/* SPACING */

.pt-70 {
    padding-top: 70px;
}

/* ! _________CONTACTS__________ */

#contacts {
    background-color: white;
}

/* # _________PROFILE__________ */

#profile {
    height: 60px;
}

.user-img>img {
    max-width: 100%;
    border-radius: 50%;
}

/* # _________NOTIFICATIONS__________ */

#notifications {
    height: 8%;
    background-color: #93dcfc;
}

.color-azure {
    color: #93dcfc;
}

.white-circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.bell {
    font-size: 25px;
    margin-left: 10px;
}

.mx-pe {
    margin: 12px;
}

/* # _________SEARCH__________ */

#search {
    height: 5%;
}

/* # _________CONTACTS-SIDESBAR__________ */

#contacts-sidebar {
    height: 80%;
}

#contacts-sidebar .h-contacts {
    min-height: 70px;
    max-height: 80px;
}

#contacts-sidebar .h-contacts img {
    max-width: 100%;
    border-radius: 50%;
}

/* ! _________CHAT__________ */

#chat {
    background-color: #ECE5DD;
}

/* # _________PROFILE-CHAT__________ */

#profile-chat header {
    height: 60px;
    width: 880px;
}

#profile-chat img {
    max-width: 100%;
    border-radius: 50%;
}

/* # _________MESSAGES__________ */

.message-sent {
    background-color: #DCF8C6;
    max-width: 300px;
}

/* # _________TEXT__________ */