/* # _________GENERALS__________ */

/* GENERALS */

body {
    height: 100vh;
    background-image: linear-gradient( to bottom, #00bfa5 15%, #f0f0f0 15%, #f0f0f0 100%);
    overflow-y: hidden;
}

#app>.container {
    height: 90%;
}

.pointer {
    cursor: pointer;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

/* COLOR */

.azure {
    color: #93dcfc;
}

.bgSelectedContact {
    background-color: #808080;
}

/* BORDER */

.br-blue {
    border-right: 1px solid blue;
}

/* FONTS */

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-30 {
    font-size: 30px;
}

/* SPACING */

.m-12 {
    margin: 12px;
}

.mb-70 {
    margin-bottom: 70px;
}

.pt-70 {
    padding-top: 70px;
}

/* ! _________CONTACTS__________ */

#contacts {
    background-color: white;
}

/* # _________PROFILE__________ */

#profile {
    height: 60px;
}

.media {
    height: 100%;
    display: flex;
    align-items: center;
}

.media figure {
    height: 60px;
    padding: 0.5rem;
    margin-bottom: 0;
}

.media .media-icon {
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
}

.media img {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.media .media-text {
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.media .media-secondary-text {
    margin-bottom: 0;
}

li .media:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

.menu {
    width: 100px;
}

/* # _________NOTIFICATIONS__________ */

#notifications {
    height: 80px;
    background-color: #93dcfc;
}

/* # _________SEARCH__________ */

#search {
    height: 50px;
    background-color: #d8d8d8;
    position: relative;
}

#search .fa-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#search input {
    border: 1px solid #eaeaea;
    height: 100%;
    padding-left: 50px;
}

/* # _________CONTACTS-SIDESBAR__________ */

/* ! _________CHAT__________ */

#chat {
    background-image: url("../img/mine.jpg");
    background-size: contain;
}

/* # _________PROFILE-CHAT__________ */

#profile-chat header {
    height: 60px;
    width: 880px;
}

#profile-chat img {
    max-width: 100%;
    border-radius: 50%;
}

/* # _________MESSAGES__________ */

#messages div {
    max-width: 60%;
}

#messages .sent {
    justify-content: flex-end;
}

#messages .received {
    justify-content: flex-start;
}

#messages .sent .message {
    background-color: #d5f9ba;
}

#messages .received .message {
    background-color: #ffffff;
}

#messages .message time {
    display: block;
    text-align: right;
    color: #aaaaaa;
}

/* # _________TEXT__________ */

#text {
    height: 60px;
}